.home-component-container
{
    background-color: var(--pure-white);
}

.home-page-img-container
{
    position: relative;
    width: 100%;
    height: 35rem;
}

@media only screen and (max-width: 768px) {
    .home-page-img-container {
        height: 40rem;
    }
}

@media only screen and (max-width: 480px) {
    .home-page-img-container {
        height: 30rem;
    }
}

.home-page-background-img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.homepage-headings
{
    margin-top: 4rem;
    margin-bottom: 0;
    background-color: var(--pure-white);
    padding: 0 2rem;
    font-size: 1.8rem;
}

@media only screen and (max-width: 768px) {
    .homepage-headings {
        margin-top: 4rem;
        font-size: 1.6rem;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .homepage-headings {
        margin-top: 3rem;
        font-size: 1.4rem;
    }
}

.genre-cards-container
{
    height: fit-content;
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    background-color: var(--pure-white);
}

@media only screen and (max-width: 480px) {
    .genre-cards-container {
        padding: 2rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        gap: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .genre-cards-container {
        padding: 3rem 2rem;
        grid-template-columns: repeat(auto-fit, 14rem);
        gap: 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .genre-cards-container {
        padding: 3.5rem 4rem;
        grid-template-columns: repeat(auto-fit, 16rem);
        gap: 1rem;
    }
}

.homepage-explore-all-btn
{
    color: var(--pure-white);
    background-color: var(--red-color);
}

.homepage-explore-all-btn 
{
    background-position: center;
    transition: background 0.5s;
}

.homepage-explore-all-btn:hover 
{
    background: var(--red-color)
                radial-gradient(circle, transparent 1%, 
                                    var(--red-color) 1%) center/15000%;
}

.homepage-explore-all-btn:active 
{
    background-color: var(--red-color);
    background-size: 100%;
    transition: background 0s;
}

.new-arrivals-container
{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    background-color: var(--pure-white);
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    justify-items: center;
}

@media only screen and (max-width: 480px) {
    .new-arrivals-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        padding: 2rem 1rem;
        gap: 1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .new-arrivals-container {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        padding: 3rem 2rem;
        gap: 1rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .new-arrivals-container {
        grid-template-columns: repeat(auto-fit, 26rem);
        padding: 3.5rem 3rem;
        gap: 1rem;
    }
}