.shop-container
{
    position: relative;
    width: 100%;
    background-color: white;
}

.products-container
{
    margin-left: 25rem;
    padding-top: 2rem;
    min-height: 61rem;
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    .products-container {
        margin-left: 25rem;
    }
}

@media only screen and (max-width: 1015px) {
    .products-container {
        margin-left: 0;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .products-container {
        padding-top: 1.5rem;
    }
}

.products-card-grid
{
    width: 100%;
    display: grid;
    padding: 2rem 4rem 4rem 4rem;
    flex-grow: 1;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1400px) {
    .products-card-grid {
        padding: 2rem 3rem 3rem 3rem;
        grid-template-columns: repeat(auto-fit, 18rem);
    }
}

@media only screen and (max-width: 1200px) {
    .products-card-grid {
        padding: 2rem 2rem 3rem 2rem;
        grid-template-columns: repeat(auto-fit, 17rem);
        gap: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .products-card-grid {
        padding: 1.5rem 1rem 2rem 1rem;
        grid-template-columns: repeat(auto-fit, 15rem);
        gap: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .products-card-grid {
        padding: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem;
    }
}
