.genre-card
{
    width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--sky-blue);
    cursor: pointer;
    box-shadow: 0 0 1px rgb(48 48 48 / 54%);
    border-radius: 4px;
}

@media only screen and (max-width: 480px) {
    .genre-card {
        width: 12rem;
        height: 12rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .genre-card {
        width: 14rem;
        height: 14rem;
    }
}

.genre-card:hover 
{
    box-shadow: 0 0 25px 6px var(--offline-grey-color);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.genre-card:not(:hover)
{
    transition: .5s ease-in-out;
}

.genre-card p
{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 1rem;
}

@media only screen and (max-width: 480px) {
    .genre-card p {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .genre-card p {
        font-size: 1.2rem;
    }
}